.blue-background {
  width: 70%;
  background-color: #4831d4;
  height: 600px;
}
.green-background {
  background-color: #ccf381;
  width: 30%;
  height: 600px;
}
.colour-sections {
  display: flex;
}
